
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineBookingApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/bootstrap-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom">
            <div class="container">
                <p class="font-weight-bold ml-3 p-4 text-white mt-3">PMT Online Booking</p>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item d-flex justify-content-md-around">
                            <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="Customer" asp-action="Index">Home</a>
                            @if(User.IsInRole("Admin"))
                            { 
                                <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="Admin" asp-action="Index1">Customer</a>
                                <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="AdminBook" asp-action="Index1">Booking</a>
                                <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="AdminPay" asp-action="Index">Payment</a>
                            }
                        </li>

                    </ul>
                    <div class="float-md-right mr-5">
                        <partial name="_LoginPartial" />

                    </div>
                </div>
            </div>
        </nav>
        @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>*@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
   
    <br /><br /> <br /><br /><br /><br /><br /><br />
    <footer class="border-top footer text-white bg-info">
        <div class="container">
            <span>
                <partial name="_LoginPartial" class="float-left" style="display:inline-flex" />
            </span>
            <p class="float-right">&copy; 2022 - GMTMotorsApplication </p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>


