<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineBookingApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/bootstrap-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom">
            <div class="container">
                <p class="font-weight-bold ml-3 p-4 text-white mt-3 float-left">Online Booking</p>

                @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>*@
                <div class="navbar-collapse collapse d-flex flex-end">
                    <ul class="navbar-nav flex-grow-1 float-left">
                        <li class="nav-item">
                            <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="Customer" asp-action="Index">Home</a>
                        </li>

                    </ul>
                    <div class="float-md-right">
                        <partial name="_LoginPartial" />

                    </div>



                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br /><br /> <br /><br /><br /><br /><br /><br /> <br /><br /> <br /><br /><br /><br /><br /><br />
    <footer class="border-top footer text-white bg-info">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-white float-left">Register</a>
            <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-white float-left" style="margin-left:15px">Login</a>

            <p class="float-right">&copy; 2022 - GMTMotorsApplication </p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>


