@model CustomerIndexViewModels

@{
    ViewBag.Title = "Personal Details";
}
<div class="container">
</div>
<div class="card">
    <div class="card-body" style="background-color:white">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">GMT Motors</li>
                <li class="breadcrumb-item">Booking System</li>
            </ol>
        </nav>
        <br /><br />
        <form method="post" enctype="multipart/form-data"asp-action="Create">
            <div asp-validation-summary="ModelOnly"></div>
            <h4>Personal Details</h4>
            <hr /><br />
            <div class="form-row">
                <div class="form-group col-md-1">
                    <label asp-for="FirstName"></label>
                </div>
                <div class="form-group col-md-3">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName"></span>
                </div>

                <div class="form-group col-md-1">
                    <label asp-for="LastName"></label>
                </div>
                <div class="form-group col-md-3">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-1">
                    <label asp-for="Gender"></label>
                </div>
                <div class="form-group col-md-3">
                    <select asp-for="Gender" class="form-control">
                        <option>Male</option>
                        <option>Female</option>
                    </select>

                </div>

            </div>
            <div></div>
            <div class="form-row">
                <div class="form-group col-md-1">
                    <label asp-for="Email"></label>
                </div>
                <div class="form-group col-md-3">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-1">
                    <label asp-for="PhoneNumber"></label>
                </div>
                <div class="form-group col-md-3">
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-1">
                    <label asp-for="State"></label>
                </div>
                <div class="form-group col-md-3">
                    <select asp-for="State" class="form-control">
                        <option placeholder="Select City"></option>
                        <option>Abia</option>
                        <option>Adamawa</option>
                        <option>Akwa Ibom</option>
                        <option>Anambra</option>
                        <option>Bauchi</option>
                        <option>Bayelsa</option>
                        <option>Benue</option>
                        <option>Borno</option>
                        <option>Cross River</option>
                        <option>Delta</option>
                        <option>Ebonyi</option>
                        <option>Edo</option>
                        <option>Ekiti</option>
                        <option>Enugu</option>
                        <option>Gombe</option>
                        <option>Imo</option>
                        <option>Jigawa</option>
                        <option>Kaduna</option>
                        <option> Kano</option>
                        <option> Katsina</option>
                        <option> Kebbi</option>
                        <option> Kogi</option>
                        <option> Kwara</option>
                        <option> Lagos</option>
                        <option> Nasarawa</option>
                        <option>Niger</option>
                        <option>Ogun</option>
                        <option>Ondo</option>
                        <option>Osun</option>
                        <option>Oyo</option>
                        <option>Plateau</option>
                        <option>Rivers</option>
                        <option>Sokoto</option>
                        <option>Taraba</option>
                        <option>Yobe</option>
                        <option>Zamfara</option>
                        <option>Abia</option>
                        <option>Fct</option>

                    </select>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>

            </div>
            <div></div>
            <div class="form-row">
                <div class="form-group col-md-1">
                    <label asp-for="NIN"></label>
                </div>
                <div class="form-group col-md-3">
                    <input asp-for="NIN" class="form-control" />
                    <span asp-validation-for="NIN" class="text-danger"></span>
                </div>

                <div class="form-group col-md-1">
                    <label asp-for="NextOfKin"></label>
                </div>
                <div class="form-group col-md-3">
                    <input asp-for="NextOfKin" class="form-control" />
                    <span asp-validation-for="NextOfKin" class="text-danger"></span>
                </div>
                <div class="form-group col-md-1">
                    <label asp-for="NextofKinPhone"></label>
                </div>
                <div class="form-group col-md-3">
                    <input asp-for="NextofKinPhone" class="form-control" />
                    <span asp-validation-for="NextofKinPhone" class="text-danger"></span>
                </div>


            </div>
            <div></div>
            <div class="form" style="display:flex;justify-content:flex-end">
                <div class="form-group col-md-1">
                    <label asp-for="Age"></label>
                </div>
                <div class="form-group col-md-3">
                    <input asp-for="Age" class="form-control" value="Upload" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="form-group col-md-1">
                    <label asp-for="ImageUrl"></label>
                </div>
                <div class="form-group col-md-3">
                    <input asp-for="ImageUrl" class="form-control" value="Upload" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
            </div>
           
            <div class="form-group">
                <button type="submit" class="btn btn-rounded btn btn-primary float-left">Submit</button>
                <a class="btn btn-rounded btn btn-success float-right" asp-action="Index" asp-controller="Home"><i class="fa-solid fa-backward"><l style="margin-left:7px">back</l></i></a>
            </div>

            <br />
            <br />
            <br />
        </form>
    </div>
</div>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

